<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Detecção de Objetos com YOLO v5</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

  

  <div align="center">
    <h1 class="page-title">Detecção de Objetos com YOLO v5</h1>
    <div id="button-container" align="center"></div>
    <button id="ligarCamera" onclick="startCamera()">Ligar</button>
    <button id="desligarCamera" onclick="stopCamera()">Desligar</button>
    <button id="trocarCamera" onclick="switchCamera()">MudarCamera</button> 
    <a href="{{ url_for('reiniciar') }}">Início</a>
  </div>

  {% if not image_processing_active %}
  <!-- <p>Exame finalizado.</p> -->
  <a href="/resultados">Visualizar Resultados</a>
  {% else %}
    <p>Exame em andamento...</p>
  {% endif %}

  <div id="container">
    <video id="video" width="100%" height="auto" autoplay></video>
    <canvas id="canvas" width="640" height="640" style="display: none;"></canvas>
    <div id="output"></div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>

  <script>
    // Adicione a função detect no evento onload do vídeo
    document.getElementById('video').onload = detect;
  </script>


</body>
</html>
