<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Detecção de Objetos com YOLO v5</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

  <div align="center">
    <button id="ligarCamera" onclick="startCamera()">Ligar</button>
    <button id="desligarCamera" onclick="stopCamera()">Desligar</button>
    <button id="trocarCamera" onclick="switchCamera()">MudarCamera</button> <!-- Novo botão -->

  </div>

  <div id="container">
    <video id="video" width="1280" height="1280" autoplay></video>
    <canvas id="canvas" width="1280" height="1280" style="display: none;"></canvas>
    <div id="output"></div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>

  <script>
    // Adicione a função detect no evento onload do vídeo
    document.getElementById('video').onload = detect;
  </script>


</body>
</html>
